<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <!-- <nav class="navbar-nav ms-auto mb-2 mb-lg-0"> -->
    <div class="container-fluid">
      <div id="headerFirst">
        <img class="logo" src="../assets/logo.jpg" alt="">
        <h3 class="navbar-brand">My personal schedule</h3>
      </div>

      <div id="headerMenu" class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact</a>
          </li>
@if(islogged == false){
  <li class="nav-item">
    <a class="nav-link" routerLink="register">Sign-up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="login">Login</a>
  </li>

}@else{
  <li class="nav-item">
    <p class="nav-link" (click)="logout()">Logout</p>
  </li>
}

      

        </ul>
      </div>
    </div>
  </nav>
</header>